{% extends 'base.html' %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}

    <div class="message-container">
        <h2 class="message-header">Messages between {{ user.username }} and {{ request.user.username }}</h2>
        <ul class="message-list">
            {% for message in messages %}
            <li class="message-item">
                <p class="message-text">{{ message.text }}</p>
                {% if message.attachment %}
                <p class="message-attachment"><a href="{{ message.attachment.url }}">Download attachment</a></p>
                {% endif %}
                <p class="message-meta"><small>Sent by {{ message.sender.username }} to {{ message.receiver.username }} at {{ message.created_at }}</small></p>
            </li>
            {% empty %}
            <li class="no-messages">No messages found.</li>
            {% endfor %}
        </ul>
        <a class="send-message-link" href="{% url 'user' pk=user.id %}">Send a new message</a>
    </div>


{% endblock %}