{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1 class="home-h">Welcome to the Home Page, {{ user.username }}</h1>
    <h2 class="home-h">Groups</h2>
    <form method="GET" action=".">
        {{ search_form.query.label_tag }}
        {{ search_form.query }}
        <input type="submit" value="Search">
    </form>
    <ul>
        {% for group in groups %}
            <li><a href="{% url 'group' group.pk %}">{{ group.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}