{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <h1 class="home-h">Welcome to the Home Page, <i>{{ user.username }}</i></h1>
            <section class="home-section">
                <h2 class="home-heading">Groups</h2>
                <ul class="group-list">
                    {% for group in groups %}
                        <li><a href="{% url 'group' group.pk %}">{{ group.name }}</a></li>
                    {% endfor %}
                </ul>
            </section>

            <section class="home-section">
                <h2 class="home-heading">Users</h2>
                <ul class="user-list">
                    {% for user in users %}
                        <li><a href="{% url 'to_user' user.pk %}">{{ user.username }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        {% else %}
            <h1 class="home-h">Welcome to the Home Page</h1>
        {% endif %}
    </div>
{% endblock %}